.home {
    width: 99%;
    background-color: var(--main-bg-color);
  
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .user{
    width: 250px;
    height: 0%;
    // align-self: flex-start;
  }
  
  .projects{
    width: 600px;
    margin-left: 10px;
    margin-right: 10px;
    height: 100vh;
  }
  
  .ideas{
    flex: auto;
    background: rgb(215, 192, 224);
    height: 200px;
  }
