.myprojects {
    width: 70%;
    margin: 0 auto;
    position: relative;

    .pro-text{
        color: var(--violet);
        padding: .5rem;
        box-shadow: 2px 2px 10px rgb(191, 192, 194);

        border-radius: .3rem;
        span{
            float: right;
            margin-left: 1rem;
        }

        span:last-of-type{
            // color: rgb(236, 238, 231);
            background: rgb(116, 177, 18);
            padding: .2rem;
            border-radius: 50%;
            cursor: pointer;
        }
    }

    i{
        padding: .1rem;
        margin-left: .7rem;
        border-radius: 5px;
        text-align: center;
        display: inline-block;
        width: 5rem;
        height: 1rem;
        background-color: rgb(161, 89, 48);
        color: rgb(255, 255, 255);
    }
}

.project-list{
    font-family: Ubuntu;
    width: 30%;
    list-style-type: none;
    padding: .5rem;
    box-shadow: 0px 2px 5px #a19d9d;
    border-radius: 5px;

    .project-list-item{
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;
    }

    .trash-button{
        cursor: pointer;
        background-color: #fff;
        border: none;
        outline: none;
        color: red;
        transition: .3s;
    }

    .trash-button:hover{
        transform: scale(1.5);
        color: rgb(240, 113, 39);
    }
}

