body {
  background: rgb(161, 157, 157);
}

.modal {
  text-align: center;
  width: 90%;
}

.modal-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;

  align-items: center;
}

.disappear{
  display: none;
}

.modal-header {
   background: rgb(17, 10, 1);
   position: relative;
   height: 30px;
   padding-top: 10px;
   color: darkorange;
}

.modal-header span{
  display: inline-block;
  top: 2px;
  width: 5px;

  top: 2px;
  right: 7px;
  position: absolute;
  cursor: pointer;
}

.modal-body {
  /* background: rgb(22, 16, 16); */
  padding: 10px;
  color: aliceblue;
  background: rgb(22, 16, 16);
  /* transition: all 2s; */
}

.modal-button {
  margin-top: 10px;
  width: 29%;
  background: rgb(17, 10, 1);
  color: darkorange;
  border: none;
  padding: 10px;
  cursor: pointer;

  outline: none;
}

.red {
  animation: space 2s;
}

@keyframes space {
  from {background: rgb(94, 52, 4);}
  to{ background: rgb(22, 16, 16);}
}